nav {
    background: #2D2E2E;
    height: 100%;
}

nav  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    background-color: inherit;
    display: block;
    padding: 20px;
}

nav ul li a:hover{
    color: #00A8FF;
    background-color: #FFF;
}

nav ul li a .activated {
    background-color: #00A8FF;
}
